In [5]:
a = 1500
price = 850
if price <= 1500:
    print("yes, I will be able to buy")

yes, I will be able to buy

In [2]:
price <= 500

True

In [9]:
a = 500
shirt_price = 200
pant_price=500
coat_price=800

if True:
    print("This is a testing block")

if coat_price <= a:
    print("I will try to buy coat")
elif pant_price < 500 :
    print("I will try to buy pant")
elif shirt_price < 500 :
    print(" I will try to buy shirt")
else:
    print("I wont be able to buy")

This is a testing block
 I will try to buy shirt

In [8]:
500<500

False

In [15]:
a = 500
shirt_price = 200
pant_price = 500
coat_price = 800
my_size = "M"
size_store = ["L", "XL", "S", "XXL", "XXXl", "M"]
my_fav_clr = "white"
store_clr = ["red","white", "blue", "orange"]
if coat_price <= a:
    print("I will try to buy coat")
elif pant_price < 500 :
    print("I will try to buy pant")
elif shirt_price < 500 :
    print("Yes, its available under my budget")
    if my_size in  size_store:
        print(" I will try to buy shirt")
        if my_fav_clr in store_clr:
            print("Yes, I will try to choose it")
        else:
            print("my fav clr is not available I will move to another store")
    else:
        print("My Size is not available")
else:
    print("I wont be able to buy")

Yes, its available under my budget
 I will try to buy shirt
Yes, I will try to choose it

In [16]:
my_size in size_store

True

In [22]:
course = ['DSM', 'DSA', 'java', 'big data', 'DA']
price = 20000
mentor = "sudhanshu kumar"
if 'DSM' in course and price == 20000 and "sudhanshu kumar" == mentor:
    print('yes I am doing this course')

yes I am doing this course

In [23]:
course_price = 20000

if 10000 <= course_price <= 15000:
    print("I will try to buy a course")
else:
    print("its out of my budget")

its out of my budget

In [24]:
10000 <= course_price <= 15000

False

In [28]:
user_name = "sudh"
password = "sudh@1234"

if user_name == input("enter your username") and password == input("enter your password"):
    print("you have logged in successfully")
else:
    print("enter correct username and password")

enter your username sudh
enter your password sudh@1234

you have logged in successfully

In [33]:
mobile_no = 12345
otp =1234
if mobile_no == int(input("enter your register mobile no")):
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mobile no")):
        print("you have logged in successfully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("you have not entered a valid mobile no")

enter your register mobile no 12345

yes you are a registered user

enter otp that we have sent on your mobile no 1234

you have logged in successfully

In [34]:
mobile_no = {23456, 34567, 45677, 456789}
otp =1234
if int(input("enter your register mobile no")) in mobile_no:
    print("yes you are a registered user")
    if otp == int(input("enter otp that we have sent on your mobile no")):
        print("you have logged in successfully")
    else:
        print("otp is not correct please try to enter again")
else:
    print("you have not entered a valid mobile no")

enter your register mobile no 23456

yes you are a registered user

enter otp that we have sent on your mobile no 1234

you have logged in successfully

In [35]:
#LOOP

In [38]:
l = [12,3,3,4,5,6,6]
li=[]

for i in l:
    i = i + 2
    li.append(i)
li

[14, 5, 5, 6, 7, 8, 8]

In [57]:
mobile_no = [23456, 34567, 45677, 456789]
stud_no = 23456
stud_details = {'mobile_no' : 23456, 'course' : ['dsa', 'dsm', 'big data']}

for i in mobile_no:
    print(i)
    if i == stud_no:
        print("yes user is registered")        
        if i == stud_details['mobile_no']:
            print("yes, student details are available in DB ")
            print("course accessed to this user is ", stud_details['course'])

23456
yes user is registered
yes, student details are available in DB
course accessed to this user is  ['dsa', 'dsm', 'big data']
34567
45677
456789

In [48]:
t = (12,3,4,5,56,"sudh","kumar")

for i in t :
    if type(i) == str :
        print(i)

sudh
kumar

In [56]:
t = (12,3,4,5,56,"sudh","kumar")
str_list=[]
int_list=[]
for i in t :
    if type(i) == str :
        str_list.append(i)
    else:
        int_list.append(i)
print(str_list)
print(int_list)

['sudh', 'kumar']
[12, 3, 4, 5, 56]

In [58]:
s ={2,3, 4, 5, 6,7}
for i in s:
    print(i)

2
3
4
5
6
7

In [63]:
d ={"name":"sudh", "class": ['big data', 'data analytics','ds','system design'], 'mobile_no': '345678','email':'abx@xyz.com'}

In [64]:
d

{'name': 'sudh',
 'class': ['big data', 'data analytics', 'ds', 'system design'],
 'mobile_no': '345678',
 'email': 'abx@xyz.com'}

In [65]:
for i in d.values():
    print(i)

sudh
['big data', 'data analytics', 'ds', 'system design']
345678
abx@xyz.com

In [69]:
for i in d.values():
    if type(i) == list:
        if 'system design' in i:
            print('yes this mentor teach system design')

yes this mentor teach system design

In [ ]:
#factorial of a number using list comprehension
fact =1
n=5
str([fact :=fact * i for i in range(1,n+1)])
sum_fact=sum([int(i) for i in str(fact)])
print(sum_fact)